<form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Mail" formControlName="mail">
    </mat-form-field>

    <h2 class="mat-h2">Address  <button type="button" mat-raised-button color="primary" (click)="addAddress()">Add Address</button></h2>


    <div formArrayName="address" *ngFor="let address of address.controls; let i=index">
        <div [formGroupName]="i">
            <mat-form-field>
                <input matInput placeholder="Plot No." formControlName="plotno">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Locality" formControlName="locality">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Pincode" formControlName="pincode">
            </mat-form-field>
            <button type="button" mat-raised-button color="warn" (click)="removeAddress(i)">Remove</button>
        </div>
    </div>

    <h2 class="mat-h2">Sub Users  <button type="button" mat-raised-button color="primary" (click)="addSubUser()">Add SubUser</button></h2>

    <div formArrayName="subUsers" *ngFor="let subUser of subUsers.controls; let i=index">
        <div [formGroupName]="i">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <button type="button" mat-raised-button color="warn" (click)="removeSubUser(i)">Remove</button>
        </div>
    </div>

    
    <button mat-raised-button color="accent">Submit</button>
</form>

{{shopForm.value | json}}